* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

:root {
  --background-color: #181818;
  --header-color: #212121;
  --little-font: #aaa;
  --neon-highlight: #3ea6ff;
  --border-color: #323232;
}

body {
  margin: 0px;
  background: var(--background-color);
}

.body-wrap {
  padding: 25px;
}

/* header section */
header {
  z-index: 100;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background: var(--header-color);
  height: 56px;
  display: flex;
  align-items: center;
  padding: 8px;
  padding-right: 0px;
  display: flex;
}

.nav-item {
  width: 24px;
  height: 24px;
  fill: white;
}

.logo {
  width: 90px;
  margin-left: 8px;
  margin-right: 40px;
}

.user {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.hamburger {
  margin: 0 16px;
}

nav {
  flex: 1;
  margin-right: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

nav > * {
  margin: 0px 9px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  margin-left: auto;
}

.input-wrapper > input {
  display: none;
}

/* video section */

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  max-width: 677px;
  margin: auto;
}

.padding-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.response-section {
  display: flex;
  align-items: center;
}

figure {
  margin: 0px;
}

.video-figure {
  border-bottom: var(--border-color) solid 1px;
  padding-bottom: 18px;
}

.main-video-caption > h1 {
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 14px;
}

.under-video {
  color: white;
  display: flex;
  flex-direction: column;
}

.icon-figure {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}

.response-section {
  padding-right: 8px;
}

.like-section {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.views {
  color: var(--little-font);
  font-size: 14px;
}

.profile-info {
  border-bottom: var(--border-color) solid 1px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 18px 0px;
}

.profile-info-top {
  display: flex;
  align-items: center;
}

.avi {
  border-radius: 100px;
  margin-right: 18px;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.prof-name {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
}

.subscribers {
  color: var(--little-font);
  font-size: 12px;
}

.sub-button {
  margin-left: auto;
  background: #c00;
  outline: none;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2.5px;
}

.video-info {
  font-size: 15px;
  grid-column: 2/-1;
}

/* Suggested video section */

aside {
  padding: 18px 0;
}

.thumbnail {
  height: 100%;
}

.suggested-item {
  display: flex;
  padding: 2.5px 0;
}

.suggested-item:hover .time-stamp {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.suggested-item {
  position: relative;
}

.suggested-item:hover .test,
.suggested-item:hover .thumbnail-dots {
  opacity: 1;
  transition: 0.25s ease-in-out;
}
.suggested-item > .thumbnail-dots {
  margin: 0;
}

.thumbnail-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.little-font,
.little-font > * {
  color: var(--little-font);
  font-size: 12px;
}

.little-font {
  margin: 1px 0;
}

.dot {
  font-size: 18px;
}

.suggested-sub {
  display: flex;
  align-items: center;
}

.thumbnail-dots {
  opacity: 0;
  /* margin-left: auto; */
}

.thumbnail-hover {
  display: block;
}

.wrap-it {
  background: var(--background-color);
  padding: 2.5px;
  border-radius: 2.5px;
}

.test {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.suggested-sub > * {
  margin: 0px;
}

.suggested-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.thumbnail-wrapper {
  position: relative;
  height: 94px;
  margin-right: 8px;
}

.time-stamp {
  margin: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--background-color);
  padding: 2.5px 5px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2.5px;
}

.show-more-button {
  cursor: pointer;
  background: none;
  display: block;
  width: 100%;
  padding: 10px;
  border: var(--neon-highlight) solid 1px;
  color: var(--neon-highlight);
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  nav > * {
    margin: 0px 14px;
  }
  .input-wrapper {
    flex: 1;
    max-width: 728px;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 2.5px;
    background: var(--border-color);
    border: var(--border-color) solid 1px;
    margin-left: auto;
  }
  .input-wrapper {
    margin-right: 5px;
  }
  .microphone {
    background: var(--background-color);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .input-wrapper > input {
    display: block;
    flex: 1;
    height: 100%;
    border-radius: 2.5px 0 0 2.5px;
    background: var(--background-color);
    outline: none;
    border: none;
    font-size: 16px;
    padding: 8px;
    width: 0;
  }

  .input-wrapper > svg {
    margin: 20px;
  }
}

.first-item-wrapper {
  display: flex;
}

.sort-section {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 5px;
  margin-left: 25px;
}

.sort-section > svg {
  margin: 0 5px;
}

.sort-section > span {
  align-self: center;
}

.comment-header {
  display: flex;
  align-items: baseline;
}

/* comments */

.leave-a-comment {
  display: flex;
  align-items: center;
  margin: 18px 0px;
}

.leave-a-comment > img {
  display: block;
  height: 40px;
  border-radius: 100px;
}

.leave-a-comment > input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: var(--border-color) solid 1px;
  margin-left: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  outline: none;
  color: var(--little-font);
}

.comment > img {
  height: 40px;
  border-radius: 100px;
}

.user-comments {
  position: relative;
  margin: 18px 0;
  display: flex;
  align-items: flex-start;
}

.comment-content-top {
  font-size: 14px;
}

.comment-age {
  color: var(--little-font);
  font-size: 12px;
}

.comment {
  margin: 7px 0;
  margin-bottom: 0;
  font-size: 15px;
}

.comment-content {
  margin-top: 7px;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
}

.thumbnail-dots {
  margin-top: 7px;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0px;
  transition: 0.25s ease-in-out;
}

.user-comments:hover > .thumbnail-dots {
  opacity: 1;
}

.comment-like {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.comment-like > span {
  color: var(--little-font);
  font-size: 12px;
}

.comment-unlike {
  margin: 0 10px;
  margin-right: 15px;
}

.comment-like > svg {
  width: 18px;
  height: 18px;
}

.like-number {
  margin-left: 5px;
}

.comment-replys {
  display: flex;
  align-items: center;
}

.comment-replys > svg {
  fill: var(--neon-highlight);
  transform: rotate(180deg);
  margin-left: -3px;
}

.comment-replys > span {
  color: var(--neon-highlight);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 950px) {
  .body-wrap {
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: 677px 1fr;
    grid-template-rows: auto auto auto;
    padding: 0px;
  }
  aside {
    grid-row: 1/-1;
    margin-right: 18px;
    grid-column: 2;
  }
  .profile-info {
    grid-column: 1;
  }
  .left-wrap {
    padding: 18px;
  }
  .suggested-item:nth-of-type(1) {
    padding-top: 0px;
  }

  .suggested-item > .thumbnail-dots {
    display: none;
  }
  .suggested-title {
    margin-right: 15px;
    line-height: 1.5em;
    max-height: 3em; /* height is 2x line-height, so two lines will display */
    overflow: hidden;
  }

  .suggested-sub > * {
    display: inline-block;
    white-space: nowrap;
  }

  .comments {
    padding: 0px 18px;
  }
}

@media screen and (max-width: 400px) {
  .hamburger {
    margin: 0 0;
  }

  .logo {
    margin-left: 10px;
    width: 80px;
  }

  nav > .nav-item {
    width: 14px;
    height: 14px;
  }
}
